*.dcu
*.~*
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
*.elf
bin/*
win32/*
*.plist
*.vlb
*.pas.cbk
dunit.ini
*.deployproj
*.tvsconfig
OSX32/*
iOSDevice/*
Android/*
XE7/dcu/*
XE7/bin/Win32/Debug/TEST_IMAGE.PNG
XE7/bin/Win32/Release/TEST_IMAGE.PNG
FMX/bin/
